doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
        script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=teams[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li(id=team.name, class=team.cssClass)
                    ul
                        li.member.headline(id=team.name)
                            h2
                                name=team.name
                                    if team.head
                                        small=' ' + team.head
                                time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

                        if team.sprint
                            for member in team.members
                                li.member(class=member.cssClass)
                                    ul.filllevel
                                        for memberDate in member.dates
                                            - var title = memberDate.date.format('LL') + (memberDate.description ? ': ' + memberDate.description : '')
                                            if (memberDate.date.format(isoDate) == team.date)
                                                li.today(class=memberDate.cssClass, title=title )
                                                    img(src=member.image_url)
                                                    span=memberDate.content
                                            else
                                                li(class=memberDate.cssClass, title=title )
                                                    span.date=memberDate.content
                        else
                            for member in team.members
                                li.member(class=member.cssClass, title=member.title)
                                img(src=member.image_url)
                                span=member.name
                        if team.sprint && team.sprint.scrum
                            - var percentage = team.summary.percentage
                            - var backgroundGradient = 'linear-gradient(90deg, #a5c1d4 0, #a5c1d4 ' + percentage + '%, #da777b ' + percentage + '%, #da777b 100%)'
                            li.member.summary
                                div(style='background-image:'+backgroundGradient)='Team '+ team.name + ' is ' + team.summary.memberAvailabilities + ' of ' + team.summary.memberDays + ' sprint days available'
                    if team.status
                        h2.error Fetching calendar data failed with "
                            =team.status
                            | ", loading data from cache (
                            = team.cacheTimestamp
                            | ).
