- var deDate = 'DD.MM.'
- var isoDate = 'YYYY-MM-DD'

mixin teamHeadline(team)
    h2.headline
        name=team.name
        - var head = team.head

        unless team.sprint.scrum
            small W#{today.isoWeek()}
        if team.sprint.scrum
            small S#{team.sprint.count + 1}
            time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

mixin teamMemberHead(member)
    th(scope=row)
        img(src=gravatarUrlFromName(member.name) + '?s=40')
        span=member.name

mixin teamMemberCell(member, day)
    -
        var dayClass = []
        if (day.date.isSame(today, 'day')) dayClass.push('today')
        if (day.date.day() == 5) dayClass.push('preWeekend')
        if (day.date.day() == 1) dayClass.push('postWeekend')

    td(class=dayClass)
        div
            each absence in day.absences
                span.status(class=absence.status)

mixin teamMemberRow(team, member, selected)
    -
        var cssClass = []
        if (selected) cssClass.push('selected')
        for (absence of member.absences(today)) {
            if (absence.date.isAfter(today, 'day')) break
            cssClass.push(absence.status)
        }

    tr(class=cssClass)
        +teamMemberHead(member)
        for day in member.dayArray(team.sprint.start, team.sprint.end)
            unless day.isWeekend()
                +teamMemberCell(member, day)

mixin teamScrumFooter(team, cells)
    - var summary = team.sprintSummary()
    tfoot
        tr
            td(colspan=cells)
                - var percentage = summary.percentage
                .percentage(style='width: ' + percentage + '%') #{summary.avail}/#{summary.total}d available

mixin calendarHead(team)
    col.head
    - for (date of team.sprint.dates())
        - var todayClass = date.isSame(today, 'day') ? 'today' : null
        - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
        col(class=[todayClass, week])
    thead
        tr
            th
            - for (date of team.sprint.dates())
                - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
                th(scope=col, class=week)=date.format('D')

mixin renderTeam(team)
    - var cells = team.sprint.datesCount() + 1
    - var selectedMember = team.selectedMember(today)
    table
        caption
            +teamHeadline(team)
        +calendarHead(team)
        tbody
            each member in team.members
                - var selected = selectedMember == member
                +teamMemberRow(team, member, selected)
        if team.sprint.scrum
            +teamScrumFooter(team, cells)

    if team.status
        - var timestamp = team.cacheTimestamp.format('L LT')
        h2.error Calendar failed: "#{team.status}", loading data from cache (#{timestamp}).

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=today.format(isoDate), onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li.team(id=team.name)
                    +renderTeam(team)
