- var isoDate = 'YYYY-MM-DD'
- var deDate = 'DD.MM.YYYY'

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')

    body
        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=results[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for result in results
                li(id=result.name)
                    ul.members(class=result.sprint? 'hasSprint' : '')
                        li.member.headline(id=result.name)
                            h2
                                name=result.name
                                    if result.sprint
                                        small  | 
                                            if result.sprint.scrum
                                                | Sprint 
                                            else
                                                | Week 
                                            =(result.sprint.count + 1) + ' '
                                time=result.sprint.start.format(deDate) + ' – ' + result.sprint.end.format(deDate)

                        if result.sprint
                            - var sprintDays = Object.keys(result.queryDates).length
                            - var sprintMembers = Object.keys(result.members).length
                            - var sprintMemberDays = sprintDays * sprintMembers
                            - var sprintMemberAvailabilities = Number(sprintMemberDays)
                        for member in result.members
                            if result.sprint
                                li.member
                                    ul.filllevel
                                        for date in result.queryDates
                                            - status = null
                                            - description = null
                                            - var absence = member.absences[date.format(isoDate)]
                                            - preWeekend = date.day() == 5 ? 'preWeekend' : null
                                            - postWeekend = date.day() == 1 ? 'postWeekend' : null
                                            if absence
                                                - var status = absence.status
                                                - if (status == 'absent' || status == 'public-holiday') {sprintMemberAvailabilities--}
                                                - var description = absence.description
                                            if (date.format(isoDate) == result.date)
                                                li.today(class=status, class=preWeekend, class=postWeekend, title=date.format('LL') + (description ? ': ' + description : '') )
                                                    img(src=member.image_url)
                                                    span=member.name
                                            else
                                                li(class=status, class=preWeekend, class=postWeekend, title=date.format('LL') + (description ? ': ' + description : '') )
                                                    - var content = date.format('dd., DD.M.')
                                                    if (status == 'public-holiday')
                                                        - content = description
                                                    span.date=content
                            else
                                - var status = null
                                - var description = null
                                if member.absences[result.date]
                                    - status = member.absences[result.date].status
                                    - description = member.absences[result.date].description
                                li.member(class=status, title=description)
                                    img(src=member.image_url)
                                    span=member.name
                        if result.sprint && result.sprint.scrum
                            - var percentage = (sprintMemberAvailabilities / (sprintMemberDays / 100))
                            - var backgroundGradient = 'linear-gradient(90deg, #a5c1d4 0, #a5c1d4 ' + percentage + '%, #da777b ' + percentage + '%, #da777b 100%)'
                            li.member.summary
                                div(style='background-image:'+backgroundGradient)='Team '+ result.name + ' is ' + sprintMemberAvailabilities + ' of ' + sprintMemberDays + ' sprint days available'
                    if result.status
                        h2.error Fetching calendar data failed with "
                            =result.status
                            | ", loading data from cache.


