doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
    body
        h1 Presence for&nbsp;
            form(action='/')
                input(type='date' name='date' value=results[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for result in results
                li(id=result.name)
                    if result.status
                        h2.error Loading calender data failed with 
                            =result.status
                    h2=result.name
                        if result.sprint
                            ='-' + (result.sprint.count + 1) + ' '
                            small
                                | (
                                =result.sprint.start.format('DD. MMM')
                                |  - 
                                =result.sprint.end.format('DD. MMM')
                                | )
                    ul
                        for member in result.members
                            - status = null
                            - description = null
                            if member.absences[result.date]
                                - status = member.absences[result.date].status
                                - description = member.absences[result.date].description
                            li(class=status, title=description)
                                img(src=member.image_url)
                                span=member.name
                                if result.sprint
                                    ul.filllevel
                                        for date in result.queryDates
                                            - status = null
                                            - description = null
                                            if member.absences[date.format('YYYY-MM-DD')]
                                                - status = member.absences[date.format('YYYY-MM-DD')].status
                                                - description = member.absences[date.format('YYYY-MM-DD')].description
                                            li(class=status, title=date.format('LL') + (description ? ': ' + description : '') )=date.format('dd')
