-
    var deDate = 'DD.MM.'
    var isoDate = 'YYYY-MM-DD'
    function dayClass(date) {
        var dayClass = [];
        if (date.isSame(today, 'day')) dayClass.push('today')
        if (date.day() == 5) dayClass.push('preWeekend')
        if (date.day() == 1) dayClass.push('postWeekend')
        dayClass.push(date.week() % 2 ? 'weekOdd' : 'weekEven')
        return dayClass
    }
    function absenceClass(absence) {
        if (absence.isHoliday()) return 'public-holiday'
        if (absence.isTravel()) return 'away'
        return 'absent'
    }
    function statusClasses(member, date, classes){
        result = Array.prototype.slice.call(arguments, 2);
        for (absence of member.absences(date)) {
            if (absence.date.isAfter(date, 'day')) break
            result.push(absenceClass(absence))
        }
        return result
    }
    function dateArray(start, end) {
        result = [];
        date = start.clone().startOf('day');
        while (!date.isAfter(end, 'day')) {
            if (date.day() != 0 && date.day() != 6) {
                result.push(date);
            }
            date = date.clone().add(1, 'days');
        }
        return result;
    }
    function absencePercentage(sob, eob, startDate, endDate) {
        var zero = startDate.clone().startOf('day').add(sob, 'minutes');
        eob -= sob;
        var start = Math.max(0, startDate.diff(zero, 'minutes'));
        var end = Math.min(eob, endDate.diff(zero, 'minutes'));
        return {
            start: start / eob,
            end: end / eob
        };
    };


mixin teamHeadline(team)
    h2.headline
        name=team.name
        if team.sprint.scrum
            small S#{team.sprint.count + 1}
            time=team.sprint.start.format(deDate) + '–' + team.sprint.end.format(deDate)

mixin teamMemberHead(member)
    img(src=gravatarUrlFromName(member.name) + '?s=40')
    span=member.name

mixin teamMemberCell(member, day)
    div
        each absence in day.absences
            - var percentage = absencePercentage(member.team.startOfBusiness, member.team.endOfBusiness, absence.date, absence.day.endDate())
            - var top = String(percentage.start * 100) + '%'
            - var height = String((percentage.end - percentage.start) * 100) + '%'
            span.status(class=absenceClass(absence), style={top: top, height: height})

mixin teamSummary(team)
    - var summary = team.sprintSummary()
    - var percentage = String(summary.percentage) + '%'
    .percentage(style={width: percentage}) #{summary.avail}/#{summary.total}d available

mixin renderTeam(team)
    -
        var selectedMember = team.selectedMember(today)
        var start = team.sprint.start
        var end = team.sprint.end
        var dates = dateArray(start, end)
    table
        caption
            +teamHeadline(team)

        col.head
        each date in dates
            col(class=dayClass(date))

        thead
            tr
                th
                each date in dates
                    th(scope=col, class=dayClass(date))=date.format('D')

        tbody
            each member in team.members
                tr(class=statusClasses(member, today, selectedMember == member ? 'selected' : null))
                    th(scope=row)
                        +teamMemberHead(member)
                    for day in member.dayArray(start, end)
                        unless day.isWeekend()
                            td(class=dayClass(day.date))
                                +teamMemberCell(member, day)

        if team.sprint.scrum
            tfoot
                tr
                    td(colspan=dates.length + 1)
                        +teamSummary(team)

    if team.status
        h2.error Calendar failed: "#{team.status}", loading data from cache (#{team.cacheTimestamp.format('L LT')}).

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=today.format(isoDate), onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li.team(id=team.name)
                    +renderTeam(team)
