doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
    body
        h1 Actano - Absentees
        div List of teams and its members, <span class="absent">grayed out</span> members are <a href="#hint">not available</a> on
            form(action='/')
                span &nbsp;
                input(type='date' name='date' value=results[0].date)
                span &nbsp;
                input(type='submit' value='submit')


        ul.teams
            for result in results
                li(id=result.name)
                    h2=result.name
                    ul
                        for member in result.members
                            - styleClass = ''
                            - if (result.absentees.indexOf(member.name) != -1) {styleClass='absent'}
                            li(class=styleClass)
                                img(src=member.image_url)
                                =member.name
        P(id='hint')
            small (not available) can be with clients, on paid or sick leave, university, you name it.
