- var deDate = 'DD.MM.'
- var isoDate = 'YYYY-MM-DD'

mixin teamHeadline(team)
    h2.headline
        name=team.name
        - var head = team.head

        unless team.sprint.scrum
            small W#{today.isoWeek()}
        if team.sprint.scrum
            small S#{team.sprint.count + 1}
            time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

mixin teamMemberHead(member)
    th(scope=row)
        img(src=member.image_url + '?s=40')
        span=member.name

mixin teamMemberCell(member, date)
    - var todayClass = date.isSame(today, 'day') ? 'today' : null
    - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
    - var preWeekend = date.day() == 5 ? 'preWeekend' : null
    - var postWeekend = date.day() == 1 ? 'postWeekend' : null
    - var absence = member.getAbsence(date)
    - var status = absence ? absence.status : null
    td(class=todayClass)
        span.status(class=[status, preWeekend, postWeekend])
            if todayClass
                span=member.name

mixin teamMemberRow(team, member, selected)
    - var selectedClass = selected ? 'selected' : null
    - var absence = member.getAbsence(today)
    - var status = absence ? absence.status : null
    tr(class=[status, selectedClass])
        +teamMemberHead(member)
        for date in team.queryDates
            +teamMemberCell(member, date)

mixin teamScrumFooter(team, cells)
    - var summary = team.sprintSummary()
    tfoot
        tr
            td(colspan=cells)
                - var percentage = summary.percentage
                .percentage(style='width: ' + percentage + '%') #{summary.avail}/#{summary.total}d available

mixin calendarHead(queryDates)
    col.head
    for date in queryDates
        - var todayClass = date.isSame(today, 'day') ? 'today' : null
        - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
        col(class=[todayClass, week])
    thead
        tr
            th
            for date in queryDates
                - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
                th(scope=col, class=week)=date.format('D')

mixin renderTeam(team)
    - var cells = team.queryDates.length + 1
    - var selectedMember = team.selectedMember(today)
    table
        caption
            +teamHeadline(team)
        +calendarHead(team.queryDates)
        if team.members
            tbody
                for member in team.members
                    - var selected = selectedMember == member
                    +teamMemberRow(team, member, selected)
        if team.sprint.scrum
            +teamScrumFooter(team, cells)

    if team.status
        - var timestamp = moment(team.cacheTimestamp).format('L LT')
        h2.error Calendar failed: "#{team.status}", loading data from cache (#{timestamp}).

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=today.format(isoDate), onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li.team(id=team.name)
                    +renderTeam(team)
