- var isoDate = 'YYYY-MM-DD'
- var deDate = 'DD.MM.YYYY'

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
        script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
    body
        script.
            if (parent.frames.length > 0) {
                document.querySelector('body').classList.add('framed');
            }

            // Array Remove - By John Resig (MIT Licensed)
            Array.prototype.remove = function (from, to) {
                var rest = this.slice((to || from) + 1 || this.length);
                this.length = from < 0 ? this.length + from : from;
                return this.push.apply(this, rest);
            };


            window.onload = function() {
                scrumTeams = document.querySelectorAll('li.scrum > ul');
                Math.seedrandom(document.querySelector('input').value)
                for (var i = 0; i < scrumTeams.length; i++) {
                    var members = getPresentMembers(scrumTeams[i]);
                    todaysRandom = Math.floor(Math.random() * members.length)
                    members[todaysRandom].classList.add('selected')
                }

            }
            function getPresentMembers(team) {
                return team.querySelectorAll('ul.members > li:not(.headline):not(.summary):not(.todayAbsence)');
            }


        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=teams[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                - var scrumClass = team.sprint && team.sprint.scrum ? 'scrum' : null
                li(id=team.name, class=scrumClass)
                    ul.members(class=team.sprint? 'hasSprint' : '')
                        li.member.headline(id=team.name)
                            h2
                                name=team.name
                                    if team.sprint
                                        small  | 
                                            if team.sprint.scrum
                                                | Sprint 
                                            else
                                                | Week 
                                            =(team.sprint.count + 1) + ' '
                                time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

                        if team.sprint
                            - var sprintDays = Object.keys(team.queryDates).length
                            - var sprintMembers = Object.keys(team.members).length
                            - var sprintMemberDays = sprintDays * sprintMembers
                            - var sprintMemberAvailabilities = Number(sprintMemberDays)
                        for member in team.members
                            if team.sprint
                                - todayAbsence = member.absences[team.date] ? 'todayAbsence' : null
                                li.member(class=todayAbsence)
                                    ul.filllevel
                                        for date in team.queryDates
                                            - status = null
                                            - description = null
                                            - var absence = member.absences[date.format(isoDate)]
                                            - preWeekend = date.day() == 5 ? 'preWeekend' : null
                                            - postWeekend = date.day() == 1 ? 'postWeekend' : null
                                            if absence
                                                - var status = absence.status
                                                - if (status == 'absent' || status == 'public-holiday') {sprintMemberAvailabilities--}
                                                - var description = absence.description
                                            if (date.format(isoDate) == team.date)
                                                li.today(class=status, class=preWeekend, class=postWeekend, title=date.format('LL') + (description ? ': ' + description : '') )
                                                    img(src=member.image_url)
                                                    span=member.name
                                            else
                                                li(class=status, class=preWeekend, class=postWeekend, title=date.format('LL') + (description ? ': ' + description : '') )
                                                    - var content = date.format('dd., DD.M.')
                                                    if (status == 'public-holiday')
                                                        - content = description
                                                    span.date=content
                            else
                                - var status = null
                                - var description = null
                                if member.absences[team.date]
                                    - status = member.absences[team.date].status
                                    - description = member.absences[team.date].description
                                li.member(class=status, title=description)
                                    img(src=member.image_url)
                                    span=member.name
                        if team.sprint && team.sprint.scrum
                            - var percentage = (sprintMemberAvailabilities / (sprintMemberDays / 100))
                            - var backgroundGradient = 'linear-gradient(90deg, #a5c1d4 0, #a5c1d4 ' + percentage + '%, #da777b ' + percentage + '%, #da777b 100%)'
                            li.member.summary
                                div(style='background-image:'+backgroundGradient)='Team '+ team.name + ' is ' + sprintMemberAvailabilities + ' of ' + sprintMemberDays + ' sprint days available'
                    if team.status
                        h2.error Fetching calendar data failed with "
                            =team.status
                            | ", loading data from cache (
                            = team.cacheTimestamp
                            | ).


