doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')

    body
        h1 Presence for&nbsp;
            form(action='/')
                input(type='date' name='date' value=results[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for result in results
                li(id=result.name)
                    h2=result.name
                        if result.sprint
                            ='-' + (result.sprint.count + 1) + ' '
                            small
                                | (
                                =result.sprint.start.format('DD. MMM')
                                |  - 
                                =result.sprint.end.format('DD. MMM')
                                | )
                    if result.status
                        h2.error Loading calendar data failed with 
                            =result.status
                    ul.members.online(class=result.sprint? 'hasSprint' : '')
                        if result.sprint
                            - var sprintDays = Object.keys(result.queryDates).length
                            - var sprintMembers = Object.keys(result.members).length
                            - var sprintMemberDays = sprintDays * sprintMembers
                            - var sprintMemberAvailabilities = Number(sprintMemberDays)
                        for member in result.members
                            - var status = null
                            - var description = null
                            if member.absences[result.date]
                                - status = member.absences[result.date].status
                                - description = member.absences[result.date].description
                            li(class=status, title=description)
                                img(src=member.image_url)
                                span=member.name
                                if result.sprint
                                    ul.filllevel
                                        for date in result.queryDates
                                            - status = null
                                            - description = null
                                            if member.absences[date.format('YYYY-MM-DD')]
                                                - var status = member.absences[date.format('YYYY-MM-DD')].status
                                                - if (status == 'absent') {sprintMemberAvailabilities--}
                                                - var description = member.absences[date.format('YYYY-MM-DD')].description
                                            li(class=status, title=date.format('LL') + (description ? ': ' + description : '') )=date.format('dd')
                        if result.sprint
                            - var percentage = (sprintMemberAvailabilities / (sprintMemberDays / 100))
                            - var backgroundGradient = 'linear-gradient(90deg, rgba(0, 125, 0, 0.3) 0, rgba(0, 125, 0, 0.3) ' + percentage + '%, rgba(125, 0, 0, 0.3) ' + percentage + '%, rgba(125, 0, 0, 0.3) 100%)'
                            li.summary(style='background-image:'+backgroundGradient)=result.name + ' is ' + sprintMemberAvailabilities + ' of ' + sprintMemberDays + ' sprint days available'

