doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=teams[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li.team(id=team.name)
                    - var cells = team.queryDates.length + 1
                    table
                        caption
                            h2.headline
                                name=team.name
                                if team.head
                                    small=' ' + team.head
                                if team.sprint.scrum
                                    time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

                        col.head
                        for date in team.queryDates
                            - var today = date.format(isoDate) == team.date ? 'today' : null
                            - var friday = date.isoWeekday() == 5 ? 'friday' : null
                            - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
                            col(class=[today, friday, week])

                        thead
                            tr
                                th
                                for date in team.queryDates
                                    th(scope=col)=date.format('DD')

                        tbody
                            for member in team.members
                                tr(class=member.cssClass)
                                    th(scope=row)
                                        img(src=member.image_url + '?s=40')
                                        span=member.name
                                    for memberDate in member.dates
                                        td(class=memberDate.date.format(isoDate) == team.date ? 'today' : null)
                                            span.status(class=memberDate.cssClass, title=memberDate.description)

                        if team.sprint.scrum
                            tfoot
                                tr
                                    - var percentage = team.summary.percentage
                                    - var backgroundGradient = 'linear-gradient(90deg, #a5c1d4 0, #a5c1d4 ' + percentage + '%, #da777b ' + percentage + '%, #da777b 100%)'
                                    td(colspan=cells, style='background-image:' + team.summary.backgroundGradient)=team.summary.description

                    if team.statusDescription
                        h2.error=team.statusDescription

