doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
    body
        h1 Presence for&nbsp;
            form(action='/')
                input(type='date' name='date' value=results[0].date, onchange='document.forms[0].submit()')

        ul.teams
            for result in results
                li(id=result.name)
                    h2=result.name
                        if result.sprint
                            ='-' + (result.sprint.count + 1) + ' '
                            small
                                | (
                                =result.sprint.start.format('DD. MMM')
                                |  - 
                                =result.sprint.end.format('DD. MMM')
                                | )
                    ul
                        for member in result.members
                            li(class=member.status, title=member.description)
                                img(src=member.image_url)
                                span=member.name
