- var deDate = 'DD.MM.'

mixin teamHeadline(team)
    h2.headline
        name=team.name
        if team.head
            small=' ' + team.head
        if team.sprint.scrum
            time=team.sprint.start.format(deDate) + ' – ' + team.sprint.end.format(deDate)

mixin teamMemberHead(member)
    th(scope=row)
        img(src=member.image_url + '?s=40')
        span=member.name

mixin teamMemberCell(member, memberDate)
    - var date = memberDate.date
    - var today = isToday(date) ? 'today' : null
    - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
    - var preWeekend = date.day() == 5 ? 'preWeekend' : null
    - var postWeekend = date.day() == 1 ? 'postWeekend' : null
    td(class=today)
        span.status(class=[memberDate.status, preWeekend, postWeekend])
            if today
                span=member.name

mixin teamMemberRow(team, member)
    - var selected = member.selected ? 'selected' : null
    tr(class=[member.cssClass, selected])
        +teamMemberHead(member)
        if member.dates
            for memberDate in member.dates
                +teamMemberCell(member, memberDate)

mixin teamScrumFooter(team, cells)
    if team.summary
        tfoot
            tr
                td(colspan=cells)
                    - var percentage = team.summary.percentage
                    .percentage(style='width: ' + percentage + '%') #{team.summary.avail}/#{team.summary.total}d available

mixin calendarHead(queryDates)
    col.head
    for date in queryDates
        - var today = isToday(date) ? 'today' : null
        - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
        col(class=[today, week])
    thead
        tr
            th
            for date in queryDates
                - var week = date.week() % 2 ? 'weekOdd' : 'weekEven'
                th(scope=col, class=week)=date.format('D')

mixin renderTeam(team)
    - var cells = team.queryDates.length + 1
    table
        caption
            +teamHeadline(team)
        +calendarHead(team.queryDates)
        if team.members
            tbody
                for member in team.members
                    +teamMemberRow(team, member)
        if team.sprint.scrum
            +teamScrumFooter(team, cells)

    if team.status
        - var timestamp = moment(team.cacheTimestamp).format('L LT')
        h2.error Calendar failed: "#{team.status}", loading data from cache (#{timestamp}).

doctype
html
    head
        title Actano - Absentees
        link(rel='stylesheet' href='/styles.css')
        meta(name='viewport', content='width = device-width')
    body
        script.
            if (parent.frames.length > 0) {
                document.body.classList.add('framed');
            }

        h1 Presence for  
            form(action='/')
                input(type='date' name='date' value=date.format(isoDate), onchange='document.forms[0].submit()')

        ul.teams
            for team in teams
                li.team(id=team.name)
                    +renderTeam(team)
